*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.logo_link{
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 22px;
    color: #1C1C1C;
}

.list{
    display: flex;
    column-gap: 34px;
    margin-top: 26px;
}

.logo{
    margin-top: 17px;
    margin-left: 250px;
}

.section{
    display: flex;
    column-gap: 496px;
    margin: 0 auto;
    width: 1440px;
    height: 74px;
}

.link{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #222222;
}

.link1{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #222222; 
}

.header{
    background: url(../images/IMAGE_fon.png) no-repeat center/cover;
    width: 1440px;
    height: 431px;
    margin-left: 250px;
    margin-top: 25px;
    display: flex;
    column-gap: 68px;
    margin: 0 auto;
}

.text{
    margin-left: 200px;
    background: #4DBD90;
    padding: 70px 0;
    width: 412px;
}

.logo_text{
    font-family: sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 44px;
    text-align: left;
    width: 412px;
    color: #ffffff;
}

.text_logo{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    width: 425px;
    color: #ffffff;
    margin-top: 21px;
}

.btn{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
}

.buttoms{
    display: flex;
    column-gap: 37px;
    margin-top: 25px 
}

.buttom{
    background: #000;
    width: 110px;
    height: 48px;
    border-radius: 3px;
}

.div_btn{
    margin-left: 23px;
    margin-top: 13px;
}

.learn_more{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #000;
}

.more{
    margin-top: 13px;
}

.images{
    margin-top: 69px;
}

.title{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    background: #3e5c50;
    padding: 28px 0;
    color: #FFFFFF4F;

}

.section-2{
    background: #3e5c50;
    width: 1440px;
    height: 145px;
    margin-left: 250px;
    margin: 0 auto;
}

.press-list{
    display: flex;
    column-gap: 37px;
    margin-left: 320px;
}

.class{
    margin-top: 8px;
}

.header_title{
    font-family: sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #333333;
    background: #ffffff;
    padding: 69px 0;
}

.header_text{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-top: -60px;
}

.header-2{
    background: #ffffff;
    width: 1440px;
    height: 1058px;
    margin: 0 auto;
}

.Metric_1{
    display: flex;
    column-gap: 20px;
}

.h2{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #333333;
    margin-top: 11px;
}

.laptop{
    margin-top: 35px;
}

.metrics_text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #333333;
    width: 389px;
    margin-top: 17px;
}


.Metric_2{
    display: flex;
    column-gap: 91px;
}

.metrics{
    margin-top: 69px;
    margin-left: 250px
}

.catalog_title{
    font-family: sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #333333;
    margin-top: 11px;
}

.catalog_text{
    width: 197px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #333333;
    margin-top: 17px;
}

.metrics_catalog{
    display: flex;
    margin-top: 71px;
    column-gap: 20px;
    margin-left: 250px;
}

.section-3{
    background: #DDE7ED;
    width: 1440px;
    height: 687px;
    margin: 0 auto;
}

.Plans_div{
    font-family: sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #333333;
}

.Plans_text{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-top: 10px;
}

.div_plans{
    background: #DDE7ED;
    padding: 60px 0;
}

.Plans_1{
    background: #ffffff;
    width: 220px;
    height: 368px;
    border-radius: 3px;
}

.Plans_title{
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    color: #2B2B2B;
    margin-left: 17px;
    background: #ffffff;
    padding: 16px 0;
    width: 68px;
}

.price{
    font-family: sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    color: #489FD9;
    margin-left: 17px;
}

.price>span{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #2B2B2B;
    margin-top: 10px;
}

.linies{
    width: 93px;
    height: 1px;
    background: #DBDBDB;
    margin-top: 13px;
    margin-left: 17px;
}

.black_text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #2B2B2B;
    margin-top: 12px;
    margin-left: 17px;
}

.grey_text{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #C7C5C5;
    margin-top: 14px;
    margin-left: 17px;
}

.btn_link{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
}

.buttom2{
    background: #000;
    width: 186px;
    padding: 8px 0;
    box-shadow: 0px 2px 1px 0px #0000001F;
    border-radius: 3px;
    margin-left: 17px;
    margin-top: 19px;
}

.div_btn2{
    margin-left: 45px;
}

.Plans{
    display: flex;
    column-gap: 20px;
    margin-left: 250px;
}

.contact_text{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
}

.contact_text>span{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #489FD9;
}

.header-3{
    width: 1440px;
    height: 462px;
    background: #ffffff;
    margin: 0 auto;
}

.about_title{
    font-family: sans-serif;
    font-size: 29px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #333333;
    background: #ffffff;
    padding: 69px 0;
}

.about_text{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 31px;
    text-align: center;
    color: #333333;
    width: 752px;
    margin: 0 auto;
    margin-top: -24px;
}

.people_img{
    margin-left: 685px;
    margin-top: 22px;
}

.about{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #333333;
    margin-top: 12px;   
}

.about2{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #333333;
}

.section-4{
    background: #A1BFD4;
    width: 1440px;
    margin: 0 auto;
}

.img{
    margin-left: 250px;
}

.footer{
    width: 1440px;
    height: 245px;
    background: #2B2C2E;
    margin: 0 auto;
    display: flex;
    column-gap: 148px;
}

.logo_link2{
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 22px;
    color: #E6EAED;
    background: #2B2C2E;
    padding: 35px 0;
    margin-left: 250px;
}

.footer_text{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #939596;
    margin-left: 250px;
    margin-top: -25px;
}

.search{
    margin-left: 250px;
    margin-top: 12px;
    display: flex;
}

.input{
    width: 193px;
    height: 40px;
    border-radius: 2px 0px 0px 2px;
    font-size: 20px;
    border: solid 0px;
}

.input_button{
    width: 129px;
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    background: #5F6166;
    border: solid 0;
    cursor: pointer;
}

.links{
    display: flex;
    column-gap: 11px;
    margin-left: 250px;
    margin-top: 25px;
}

.company_title{
    font-family: Condensed;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    color: #E4E8EB;
}

.company_link{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    color: #939596;
    margin-top: 5px;
}

.about_us{
    margin-top: 41px;
    display: flex;
    column-gap: 76px;
}

.footer_2{
    width: 1440px;
    height: 60px;
    background: #1C1D1F;
    margin: 0 auto;
}

.footer_2_text{
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #939596;
    margin-left: 250px;
    background: #1C1D1F;
    padding: 19px 0;
}